<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.monitor.mapper.LogMapper">

    <select id="getTrackIdForTransfer" resultType="String">
        SELECT track_id
        FROM monitor_time
        WHERE `time` <= NOW() - INTERVAL 5 MINUTE
        ORDER BY `time` DESC
        LIMIT #{limit}
    </select>

</mapper>